/* #app { height: 100% } */
/* html, */
.Swiper-sec-body {
  position: relative;
  height: 100%;
}

.Swiper-sec-body {
  /* background: whitesmoke; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swipersec {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swipersec-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
display: flex;
justify-content: center;
align-items: center;

}

.swipersec-slide img {
  display: block;
  width: 60%;

}
